<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:65px">{{title}}</h1>
    <h3 >Enter a code and press the submit button </h3>
    <input type="text" class="cloud-hero-input" value="Enter code"><br>
     <input type="submit" class="cloud-hero-button" id=submit" value="Play">
  </div>
</div>
<div class="hero-header" id="hero-header">
  <H1>{{subtitle}}<H1>
    <h3>Link:</h3><a href="{{url}}">{{url}}</a>
    <h3>Code:<h3><p id="code">{{code}}</p>
</div>    
<script src="/scripts/app.js"></script>
</body>
</html>
